#!/usr/bin/env python3

from subprocess import getoutput, run


def get_root_disk_info():
  raw_out_lines = getoutput('df -h -P -l "/"').split("\n")
  root_line = raw_out_lines[1]
  values = root_line.split()
  return values[1], values[2], values[3], values[4]


total, used, available, percent = get_root_disk_info()
color = "#00FFFF"
icon = '<span font="FontAwesome">\uf0a0</span>'
print('<span color="{}">{} {} ({})</span>'.format(color, icon, available, percent))