#!/usr/bin/env python3

import re

MEM_USAGE_HIGH=90
MEM_USAGE_MEDIUM=75

def get_color(percent_used):
  if percent_used >= MEM_USAGE_HIGH:
    return '#FF0000'
  if percent_used >= MEM_USAGE_MEDIUM:
    return '#FFFF00'
  return '#FFFFFF'


def get_memory_info():
  with open('/proc/meminfo', 'r') as f:
    content = f.read()
  mem_lines = content.split("\n")
  total = int(mem_lines[0].split()[1])
  free = int(mem_lines[1].split()[1])
  return total, free

def in_human_gigabytes(kilobytes):
  gigabytes = kilobytes / 1024. / 1024.
  return "{:2.1f}G".format(gigabytes)

total, free = get_memory_info()
used = total - free
percent_used = int(100 * float(used)/float(total))
color = get_color(percent_used)
icon = '<span font="FontAwesome">\uf233</span>'
print('<span color="{}">{} {}/{}</span>'.format(color, 'M', in_human_gigabytes(used), in_human_gigabytes(total)))